{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}EDU4ALL{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+JP:wght@100;300&family=PT+Sans&family=Playfair+Display&family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">

</head>
<body>
   <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <span>EDU<span id="log">4</span>ALL</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">our goal</a></li>
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="#counts">Dashboard</a></li>
          
          <li class="dropdown"><a href="#"><span>Courses</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Academic Courses</a></li>
              <li class="dropdown"><a href="#"><span>Programming</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">web development</a></li>
                  <li><a href="#">App development</a></li>
                  <li><a href="#">SQL</a></li>
                  <li><a href="#">IOS App development</a></li>
                  <li><a href="#">Software development</a></li>
                </ul>
              </li>
              <li><a href="{% url 'deafy' %}">Deaf and Dumb</a></li>
              <li><a href="#">For the Blind</a></li>
            </ul>
          </li>
          {% endif %}
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a class="getstarted scrollto" href="{% url 'article_new' %}">Teach</a></li>
          <li><a class="getstarted scrollto" href="{% url 'logout' %}">logout</a></li>
          {% else %}
           <li><a class="getstarted scrollto" href="{% url 'signup' %}">Register</a></li>
            <li><a class="getstarted scrollto" href="{% url 'login' %}">Login</a></li>
        </ul>
          {% endif %}
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
















  <main>
    {% block content %}
    {% endblock content %}
  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
